#puzzle{
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    margin: 2rem;
    display: inline-grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: "one two three"
                        "four five six"
                        "seven eight nine";
    grid-gap: 5px;
}

.tile {
    background: url(dog.jpeg) no-repeat;
    height: 166px;
    width: 166px;
    background-clip: content-box;
}

#one {
    background-position: 0px 0px;
}

#two {
    background-position: -166px 0px;
}

#three {
    background-position: -332px 0px;
}

#four {
    background-position: 0px -166px;
}

#five {
    background-position: -166px -166px;
}

#six {
    background-position: -332px -166px;
}

#seven {
    background-position: 0px -332px;
}

#eight {
    background-position: -166px -332px;
}

#nine {
    display:none;
    background-position: -332px -332px;
} 

